html{
    width: 100%;
    height: 100%;
    background-color: black;
    color: cornsilk;
}

body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: red;
    text-align: center;
    font-family: monospace;
    font-weight: large;
    animation: rotate-hue 20s alternate infinite;
}

@keyframes rotate-hue{
    0%{
        filter: hue-rotate(0deg);
    }
    25%{
        filter: hue-rotate(90deg);
        text-shadow: 0 0 0.5em currentColor,0 0 1em currentColor,0 0 1.5em currentColor,0 0 2em currentColor,0 0 2.5em currentColor,0 0 3em currentColor;
    }
    50%{
        filter: hue-rotate(180deg);
        text-shadow: 0 0 0.5em currentColor,0 0 1em currentColor,0 0 1.5em currentColor,0 0 2em currentColor,0 0 2.5em currentColor,0 0 3em currentColor;
    }
    75%{
        filter: hue-rotate(270deg);
        text-shadow: 0 0 0.5em currentColor,0 0 1em currentColor,0 0 1.5em currentColor,0 0 2em currentColor,0 0 2.5em currentColor,0 0 3em currentColor;
    }
    100%{
        filter: hue-rotate(359deg);
        text-shadow: 0 0 0.5em currentColor,0 0 1em currentColor,0 0 1.5em currentColor,0 0 2em currentColor,0 0 2.5em currentColor,0 0 3em currentColor;
    }
}